body {
	color: #ffe;
	background-color: #023;
}

@font-face {
	font-family: "splatoon bold";
	src: url(Splatoon1.woff);
}

@font-face {
	font-family: "splatoon thin";
	src: url(Splatoon2.woff);
}

p {
	font-family: "splatoon thin";
}

h1 {
	font-family: "splatoon bold";
}