body {
	color: #ffe;
	background-image: url(background.gif);
}

@font-face {
	font-family: "splatoon bold";
	src: url(Splatoon1.woff);
}

@font-face {
	font-family: "splatoon thin";
	src: url(Splatoon2.woff);
}

p {
	font-family: "splatoon thin";
	text-align: center;
}

h1 {
	font-family: "splatoon bold";
	text-align: center;
}